$lightBrwon: #eadccd;
$brown: #67443a;

@font-face {
  font-family: "Talbot-Type";
  src: url("../../font/talbot/Talbot-Type-Kessel105-Bold.otf")
    format("opentype");
}

.header {
  display: flex;
  color: #67443a;
  justify-content: space-between;
  background-color: $lightBrwon;
  border-bottom: 3px solid white;
  width: 100vw;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.8em 0;
  h1 {
    font-size: 2vw;
    margin: 0;
    margin-left: 1em;
  }
  span {
    font-family: "Talbot-Type";
  }
  .nav {
    display: flex;
    flex-wrap: nowrap;
    min-width: 35vw;
    justify-content: space-between;
    margin-right: 2em;
    align-items: center;
    h2 {
      font-size: 1.2vw;
      cursor: pointer;
      margin: 0;
      animation: all 3s ease-in-out;
    }

    h2:hover {
      text-decoration: underline;
      text-decoration-color: #804c36;
      text-underline-offset: 4px;
    }

    .activeTitle {
      text-decoration: underline;
      text-decoration-color: #804c36;
      text-underline-offset: 4px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    border-bottom: 1px solid white;
    h1 {
      font-size: 3vw;
    }
    .nav {
      width: 45vw !important;
      margin-right: 1em !important;
    }
    h2 {
      font-size: 2.5vw !important;
    }
  }
}
