@font-face {
  font-family: "Talbot-Type";
  src: url("./font/talbot/Talbot-Type-Kessel105-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Talbot-Type-Thin";
  src: url("./font/talbot/Talbot-Type-Kessel105-Thin.otf") format("opentype");
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: "talbot-Type-Thin";
}
